@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  transition: all linear 0.2s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.ThumbnailAirPodMax_Image {
  margin-top: -150px
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(215, 215, 215);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(85, 89, 108);
}

@media screen and (max-width: 900px) {
  .ThumbnailAirPodMax_Image {
    margin-top: 0px
  }
}

@media screen and (max-width: 700px) {
  .ThumbnailAirPodMax_Image {
    margin-top: 50px
  }
}